
<div fxLayout="row">
    <ng-container *ngIf="notficationList >0">
        <mat-icon [matBadge]="notficationList" matBadgeColor="warn" 
        (click)="openNotifications()" style="cursor: context-menu;margin-top: 6px;">notifications_none</mat-icon>
    </ng-container>
    <ng-container *ngIf="notficationList === 0">
        <mat-icon 
        (click)="openNotifications()" style="cursor: context-menu;margin-top: 6px;">notifications_none</mat-icon>
    </ng-container>

</div>
<!-- <div style="visibility: hidden; position: fixed;margin-top: 13px;" [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
    <div fxLayout="column" fxLayoutGap="20px" style="background-color: #2c3e50;width: 100%;"
        *ngIf="notficationList && show" class="chat-margin user-chat-list-container">
        <div >
            <ng-container *ngIf="notficationList && show">
                <ng-container *ngFor="let notfication of notficationList">
                    <div fxLayout="row" fxLayoutGap="15px" class="chat-margin" style="width: 100%;padding: 10px;" (click)="anyAction(notfication)">
                        <div class="circle">{{userProfile(notfication.fromUserName)}}</div>
                        <div>
                            <p style="margin-top: 13px;color: white;">{{notfication.message}}</p>
                        </div>
                    </div>
                    <hr>
                </ng-container>
                
            </ng-container>
        </div>
    </div>
</mat-menu> -->
