// .chat-margin{
//     margin: 3%;
//     }
.mat-menu-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 15px;
        color: #fff;
        line-height: 50px;
        text-align: center;
        background: #c2c2a3;
      }

      .user-chat-list-container{
 height: 500px;
 width: 500px;
 overflow-y: auto;
}

// ::ng-deep.mat-menu-panel {
//   width: 450px;
//   max-width: 500px !important;
// }

// ::ng-deep .mat-menu-content {
//   padding-top: 0px !important;
//   padding-bottom: 0px !important;
// }

