<ng-container *ngIf="data && data.type==='users-autocomplete'">
    <form [formGroup]="form" #userForm="ngForm">
        <mat-dialog-content>
            <mat-form-field style="width: 100%;">
                <input type="text" placeholder="Enter User Name" matInput formControlName="userName"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <ng-container *ngFor="let user of userVOList">
                        <mat-option value="{{user.firstName}} {{user.lastName}}" *ngIf="user.userId !==chatId"
                            (onSelectionChange)="setUserId($event,user.userId)">
                            {{user.firstName}} {{user.lastName}}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
                <mat-error>User Name is required</mat-error>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-raised-button color="primary" (click)="addUsersToGroup()">Add User</button>
            <button mat-raised-button color="accent" id="cancel" (click)="onNoClick()">Cancel</button>
        </mat-dialog-actions>
    </form>
</ng-container>