<mat-card>
  <mat-card-title>Add Items</mat-card-title>

  <mat-vertical-stepper linear="false" #stepper>
    <ng-container *ngFor="let step of cardDetailsVO.stepDetails;">
      <mat-step>
        <form [formGroup]="stepperFormGroup">
          <ng-template matStepLabel>{{step.stepLabel}}</ng-template>
          <ng-container *ngIf="step.controlType.controlType === 'text'">
            <mat-form-field appearance="fill">
              <mat-label>{{step.controlType.controlTypeLabel}}</mat-label>
              <input matInput [placeholder]="step.controlType.controlTypeLabel"
                [formControlName]="step.controlType.controlTypeName">
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="step.controlType.controlType === 'textArea'">
            <mat-form-field>
              <mat-label>{{step.controlType.controlTypeLabel}}</mat-label>
              <textarea matInput [placeholder]="step.controlType.controlTypeLabel"
                [formControlName]="step.controlType.controlTypeName"></textarea>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="step.controlType.controlType === 'select'">
            <mat-form-field appearance="fill">
              <mat-label>{{step.controlType.controlTypeLabel}}</mat-label>
              <mat-select [formControlName]="step.controlType.controlTypeName" multiple>
                <mat-select-trigger>
                  {{stepperFormGroup.get(step.controlType.controlTypeName).value ?
                  stepperFormGroup.get(step.controlType.controlTypeName).value[0] : ''}}
                  <span *ngIf="stepperFormGroup.get(step.controlType.controlTypeName).value?.length > 1">
                    (+{{stepperFormGroup.get(step.controlType.controlTypeName).value.length - 1}}
                    {{stepperFormGroup.get(step.controlType.controlTypeName).value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let keyValue of step.stepValues" [value]="keyValue.key">{{keyValue.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="step.controlType.controlType === 'card'">
            <ng-container dynamicField [fieldConfig]="getCardJson()" [group]="group">
            </ng-container>
          </ng-container>
          <ng-container *ngIf="step.controlType.controlType === 'image'">
            <ng-container dynamicField [fieldConfig]="getImageCardJson()" [group]="group">
            </ng-container>
          </ng-container>
          <button mat-button matStepperNext
            (click)="nextStep(step,stepperFormGroup.get(step.controlType.controlTypeName).value)">Next</button>
        </form>
      </mat-step>
    </ng-container>
    <mat-step>
      <ng-template matStepLabel *ngIf="showAddItemButton">Add Items</ng-template>
      <ng-template matStepLabel *ngIf="!showAddItemButton">Update Item</ng-template>
      <button mat-button matStepperNext (click)="addToCart()" *ngIf="showAddItemButton">Submit</button>
      <button mat-button matStepperNext (click)="updateItem(updateItemIndex)" *ngIf="!showAddItemButton">Update</button>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>
<mat-card>
  <mat-card-title>Shopping Cart</mat-card-title>
  <div fxLayout="row wrap" fxLayoutGap="25px">
    <mat-card *ngFor="let item of cardItems;let i=index" style="width: 20%;">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px">
        <div>
          #{{i+1}}
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
          <mat-icon color="primary" style="cursor: pointer;" (click)="edit(item.index)">create</mat-icon>
          <mat-icon color="accent" style="cursor: pointer;" (click)="closeItem(item.index,i)">close</mat-icon>
        </div>
      </div>
      <ng-container *ngFor="let values of item.details">
        <div fxLayout="column" fxLayoutGap="20px">
          <div>
            <div fxLayout="row">
              <div style="font-weight: bold;">
                {{values.label}}:
              </div>
              <div>
                {{values.value}}
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </mat-card>
  </div>
</mat-card>