.sidenav-container{
  min-height: 100%;
  overflow: auto;
  
}

mat-sidenav {
  width: 23%;
  height: 100%;
  overflow: hidden;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

::ng-deep .mat-tooltip {
  color: white !important;
  font-size: 12px !important;
  background-color: rgb(255, 149, 149);
}