<form [formGroup]="messagePassingForm">
	<div fxLayout="row" style="background-color:#E6EAEA;width: 100%;" *ngIf="show">
		<div fxLayout="column" fxLayoutGap="20px" style="background-color: #2c3e50;width: 25%;">
			<div fxLayout="row" fxLayoutGap="15px" class="chat-margin">
				<div class="user-circle">{{userProfile(userVO.firstName)}}</div>
				<div>
					<p style="margin-top: 13px;color: white;">{{userVO.firstName}} {{userVO.lastName}}</p>
				</div>
			</div>
			<div fxLayout="column" fxLayoutGap="10px" class="chat-margin user-chat-list-container">
				<ng-container *ngIf="userVOList">
					<ng-container *ngFor="let user of userVOList">
						<div fxLayout="row" class="chat-margin" fxLayoutGap="15px" (click)="loadChatDetails(user,0)"
							*ngIf="userVO.userId !==user.userId">
							<div class="circle">{{userProfile(user.firstName)}}</div>
							<div>
								<p style="margin-top: 13px;color: white;">{{user.firstName}} {{user.lastName}}</p>
							</div>
							<div *ngIf="user.unReadMessageCount>0">
								<p style="margin-top: 13px;color: white;">({{user.unReadMessageCount}})</p>
							</div>
						</div>
					</ng-container>
				</ng-container>
				<ng-container *ngIf="messageGroupVOList">
					<ng-container *ngFor="let messageGroup of messageGroupVOList">
						<div fxLayout="row" class="chat-margin" fxLayoutGap="15px"
							(click)="loadGroupChatDetails(messageGroup,0)">
							<div class="circle">{{userProfile(messageGroup.groupName)}}</div>
							<div>
								<p style="margin-top: 13px;color: white;">{{messageGroup.groupName}}</p>
							</div>
							<div *ngIf="messageGroup.groupUnreadMessageCount>0">
								<p style="margin-top: 13px;color: white;">({{messageGroup.groupUnreadMessageCount}})</p>
							</div>
						</div>
					</ng-container>
				</ng-container>
			</div>
		</div>
		<div fxLayout="column" style="width: 75%;">
			<div style="background-color: #f5f5f5;" *ngIf="showUserChatHistory || showGroupChatHistory ">
				<div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center" style="margin:1%">
					<ng-container *ngIf="showUserChatHistory">
						<div fxLayout="row" fxLayoutGap="15px">
							<div class="circle">{{userProfile(messageHistoryVO.firstName)}}</div>
							<div>
								<p style="margin-top: 13px;color: black;">{{messageHistoryVO.firstName}}
									{{messageHistoryVO.lastName}}</p>
							</div>
						</div>
						<div>
							<mat-icon (click)="addUserToGroup()">add</mat-icon>
						</div>
					</ng-container>
					<ng-container *ngIf="showGroupChatHistory">
						<div fxLayout="row" fxLayoutGap="15px">
							<div class="circle">{{userProfile(messageHistoryVO.firstName)}}</div>
							<div>
								<p style="margin-top: 13px;color: black;">{{messageHistoryVO.firstName}}</p>
							</div>
						</div>
						<div>
							<mat-icon (click)="addUserToExistingGroup()">add</mat-icon>
						</div>
					</ng-container>
				</div>
			</div>
			<div class="chat-history-container" *ngIf="showUserChatHistory || showGroupChatHistory">
				<ng-container *ngFor="let message of messageHistoryVO.messageVOList">
					<div fxLayout="row" fxLayoutAlign="start start" class="margin"
						*ngIf="message.fromId !== userVO.userId">
						<div class="chat-history-circle" style="margin-top: 15px;">
							{{userProfile(messageHistoryVO.firstName)}}</div>
						<div class="message-container" fxLayout="column">
							<div style="font-size: 15px;" fxLayout="row" fxLayoutAlign="space-between center"
								fxLayoutGap="10px">
								<div>
									{{messageHistoryVO.firstName}}
								</div>
								<div style="font-size: smaller;">
									{{message.redTime | date :'h:mm a'}}
								</div>
							</div>
							<div style="font-size: small;">{{message.message}}</div>
						</div>
					</div>
					<div fxLayout="row" fxLayoutAlign="end end" class="margin" *ngIf="message.fromId === userVO.userId">
						<div class="message-container" fxLayout="column">
							<div style="font-size: 15px;" fxLayout="row" fxLayoutAlign="space-between center"
								fxLayoutGap="10px">
								<div>
									{{userVO.firstName}}
								</div>
								<div style="font-size: smaller;">
									{{message.redTime | date :'h:mm a'}}
								</div>
							</div>
							<div style="font-size: small;">{{message.message}}</div>
						</div>
						<div class="chat-history-circle" style="margin-bottom: 15px;">{{userProfile(userVO.firstName)}}
						</div>
					</div>
				</ng-container>
			</div>
			<div fxLayout="row" *ngIf="showUserChatHistory || showGroupChatHistory">
				<div style="width: 96%;">
					<input matInput (keydown.enter)="keydown($event)" placeholder="Write your message..."
						formControlName="message" class="enter-message">

				</div>
				<mat-icon style="font-size: 35px;margin-top: 5px;cursor: pointer;" (click)="sendMessageUsingSocket()">
					send</mat-icon>
			</div>
		</div>
	</div>
</form>