.user-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  background: #c2c2a3;
}


.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background: #c2c2a3;
}

.chat-history-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  background: #c2c2a3;
}

.message-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin:5px 0;
  padding: 5px;
}

.chat-margin{
margin: 3%;
}

.chat-history-container{
  width: 100%;
  overflow-y: auto;
  height: 453px;
}

.user-chat-list-container{
 height: 465px;
 overflow-y: auto;
}

.enter-message{
  width: 100%;
  border: none;
  padding: 10px;
  background-color: white;
}

.margin{
  margin: 2%;
}





