.user-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  background: #c2c2a3;
}

.scrollbar-css::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }
  
  .scrollbar-css::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #909499; }


.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background: #c2c2a3;
}

.chat-history-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  background: #c2c2a3;
}

.message-container {
  border: 2px solid #f5f6f7;
  background-color: #f5f6f7;
  border-radius: 15px 15px 15px 0px;
  margin:5px 0;
  padding: 5px;
}

.right-message-container{
  border: 2px solid #48b0f7;
  background-color: #48b0f7;
  border-radius: 15px 15px 0px 15px;
  margin:5px 0;
  padding: 5px;
}

.user-list-container{
  border: 2px solid white;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.active-user-container{
  border: 2px solid #48b0f7;
  background-color: #48b0f7;
  border-radius: 5px;
  padding: 5px;
}

.send-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  background: #48b0f7;
}

.button-css{
  line-height: 26px;
  padding: 0px 4px;
  color: white;
  background-color: #48b0f7;
}

.loader-margin{
  margin: 1%;
}
.chat-margin{
margin: 0%;
}

.chat-history-container{
  width: 100%;
  overflow-y: auto;
  height: 420px;
}

.user-chat-list-container{
 height: 465px;
 overflow-y: auto;
}

.enter-message{
  width: 98%;
  border: none;
  padding: 10px;
  background-color: white;
}

.margin{
  margin: 2%;
}


.mat-dialog-container {
  padding:0px!important;
}

.example-header-image{
height: 50px;
width: 50px;
background-size: cover;
border-radius: 50%;

background-repeat: no-repeat;
background-position: center center;
}

.login-header-image{
  height: 60px;
  width: 60px;
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  }
  

.chat-prof-pic{
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.message-prof-pic{
  height: 40px;
  width: 40px;
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  
}


