<div fxLayout="row">
    <ng-container *ngIf="unReadMessageCount >0">
        <mat-icon (click)="openMessages()" style="cursor: context-menu;margin-top: 8px;"
        [matBadge]="unReadMessageCount" matBadgeColor="warn" >sms</mat-icon>
    </ng-container>
    <ng-container *ngIf="unReadMessageCount === 0">
        <mat-icon (click)="openMessages()" style="cursor: context-menu;margin-top: 8px;"
         >sms</mat-icon>
    </ng-container>

</div>